{% extends 'base.html' %}
{% block title %}{{ question.title }}{% endblock %}

{% block content %}

<h2>{{question.title}}</h2>

    <p>{{ question.text }}</p>

    <em>{{ question.creation_date }}</em>

    <hr>

    {% if answers %}
        {% for answer in answers %}
            <p>
            <strong>{{ answer.author }}</strong>
            </p>
            <p>{{ answer.text }}</p>
            <em>{{ answer.creation_date }}</em>
        {% endfor %}
    {% endif %}
    <form action="{% url 'questions:add_answer' question.id %}" method="POST">
        {% csrf_token %}
        <textarea name="text" required="" placeholder="Текст ответа" cols="50" rows="15"></textarea><br>
        <button type="submit">Оставить ответ</button>
    </form>

{% endblock %}