{% extends 'base.html' %}
{% block title %}{{ question.title }}{% endblock %}

{% block content %}

<h2>{{question.title}}</h2>

    <p>{{ question.text }}</p>

    <em>{{ question.creation_date }}</em>

    <hr>

    {% if answers %}
        {% for answer in answers %}
            <p>
            <strong>{{ answer.author }}</strong>
            </p>
            <p>{{ answer.text }}</p>
            {% if user.is_authenticated %}
                <form action="{% url 'questions:answer_action' answer.id '+1' %}" method="GET">
                    <button type="submit">Like</button>
                </form>
                <form action="{% url 'questions:answer_action' answer.id '-1' %}" method="GET">
                    <button type="submit">Dislike</button>
                </form>
            {% endif %}
            <p>Rating: {{ answer.rating }}</p>
            <em>{{ answer.creation_date }}</em>
            <Br>
            <Br>
        {% endfor %}
    {% endif %}
    <form action="{% url 'questions:add_answer' question.id %}" method="POST">
        {% csrf_token %}
        <textarea name="text" placeholder="Текст ответа" cols="50" rows="15" required></textarea><br>
        <button type="submit">Оставить ответ</button>
    </form>

{% endblock %}