# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/otus_homeworks.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
hw_week_4/.idea/.gitignore
hw_week_4/.idea/hw_week_4.iml
hw_week_4/.idea/misc.xml
hw_week_4/.idea/modules.xml
hw_week_4/.idea/vcs.xml
hw_week_4/.idea/dictionaries/daler.xml
hw_week_4/.idea/inspectionProfiles/profiles_settings.xml
hw_week_5/.idea/.gitignore
hw_week_5/.idea/hw_week_5.iml
hw_week_5/.idea/misc.xml
hw_week_5/.idea/modules.xml
hw_week_5/.idea/pylint.xml
hw_week_5/.idea/vcs.xml
hw_week_5/.idea/dictionaries/daler.xml
hw_week_5/.idea/inspectionProfiles/profiles_settings.xml
hw_week_5/.vscode/launch.json
hw_week_5/.vscode/settings.json
hw_week_7/.idea/.gitignore
hw_week_7/.idea/hw_week_7.iml
hw_week_7/.idea/misc.xml
hw_week_7/.idea/modules.xml
hw_week_7/.idea/vcs.xml
hw_week_7/.idea/inspectionProfiles/profiles_settings.xml
hw_week_1/.idea/.gitignore
hw_week_1/.idea/hw_week_1.iml
hw_week_1/.idea/misc.xml
hw_week_1/.idea/modules.xml
hw_week_1/.idea/vcs.xml
hw_week_1/.idea/inspectionProfiles/profiles_settings.xml
hw_week_3/.idea/.gitignore
hw_week_3/.idea/hw_week_3.iml
hw_week_3/.idea/misc.xml
hw_week_3/.idea/modules.xml
hw_week_3/.idea/vcs.xml
hw_week_3/.idea/dictionaries/daler.xml
hw_week_3/.idea/inspectionProfiles/profiles_settings.xml
hw_week_3/.vscode/settings.json
