ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}

ul.hr, li, h1, form {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 90px; /* Отступ слева */
    padding: 50px; /* Поля вокруг текста */
}
