{% extends 'base.html' %}
{% load static %}
{% block title %} Top questions {% endblock %}
{% block content %}
    {% if questions %}
        {% for question in questions %}
            <a href="{% url 'questions:question' question.id %}">{{ question.title }}</a><br>
            <p>
                Asked by: <img src="{{ question.author.get_avatar_url}}" width="35" height="35" alt="img/default_avatar.jpg">
                {{ question.author.username }}
            </p>

            {% if question.tags.all %}
                Tags:
                {% for tag in question.tags.all %}
                    <a href="{% url 'questions:search_question_by_tag' tag.id %}">{{ tag.name }}</a>
                {% endfor %}
            {% endif %}

            {% if user.is_authenticated %}
                <form action="{% url 'questions:question_action' question.id '+1' %}" method="GET">
                    <button type="submit">Like</button>
                </form>
                <form action="{% url 'questions:question_action' question.id '-1' %}" method="GET">
                    <button type="submit">Dislike</button>
                </form>
            {% endif %}
            <p>Rating: {{ question.rating }}</p>
            <em>{{ question.creation_date }}</em><br><br>
            <Br>
        {% endfor %}
    {% else %}
        There are no questions yet
    {% endif %}
{% endblock %}